    <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="admin/_fragments::head(~{::title})">
		<meta charset="utf-8">
        <meta name="viewport" content="windth=device-width,initial-scale=1.0">
		<title>博客管理</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        
        <link rel="stylesheet" href="../../static/css/me.css">
	</head>
	<body>
        <!-- 导航-->
        <nav th:replace="admin/_fragments::menu(1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >
            <div class="ui container">
               <div class="ui inverted secondary stackable menu ">
                   <h2 class="ui teal header item">Lty</h2>
                   <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>博客</a>
                   <a href="#" class=" m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
                   <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
                   <div class="right m-item m-mobile-hide menu">
                       <div class="ui dropdown item">
                           <div class="text">
                                <img class="ui avatar image" src="https://unsplash.it/100/100?image=1005">
                                LTY
                           </div>
                           <i class="dropdown icon"></i>
                           <div class="menu">
                            <a href="#" class="item">注销</a>
                           </div>
                       </div>
                   </div>

               </div> 
            </div>
            <a href="#" class="ui menu-toggle black icon button m-right-top m-mobile-show ">
                <i class="sidebar icon"></i>
            </a>
        </nav>
        <div class="ui attached pointing menu">
            <div class="ui container">
                <div class="right menu">
                    <a href="#"  class="item" th:href="@{/admin/blogs/input}">发布</a>
                    <a href="#" class="teal active item" th:href="@{/admin/blogs}">列表</a>
                </div>
            </div>
        </div>

        <!-- 中间内容-->
           <div class="m-container-small m-padded-tb-big">
              <div class="ui container">
                 <div   class="ui secondary segment form">
                     <input type="hidden" name="page">
                     <div class="inline fields">
                        <div class="field">
                            <input type="text" name="title" placeholder="标题">
                        </div>
                       <div class=" field">
                           <div class="ui labeled action input">
                               <div class="ui type selection dropdown">
                                   <input type="hidden" name="typeId">
                                   <i class="dropdown icon"></i>
                                   <div class="default text">分类</div>
                                   <div class="menu">
                                       <div th:each="type : ${types}" class="item" data-value="1" th:data-value="${type.id}" th:text="${type.name}">错误日志</div>
                                       <!--/*-->
                                       <div class="item" data-value="2">开发者手册</div>
                                       <!--*/-->
                                   </div>
                               </div>
                               <button id="clear-but" class="ui compact button">clear</button>
                           </div>
                       </div>
                      <div class="field">
                          <div class="ui checkbox">
                              <input type="checkbox" id="recommend" name="recommend">
                              <label for="recommend">推荐</label>
                          </div>
                      </div>
                     <div class="field">
                         <button type="button" id="search-but" class="ui mini teal basic button"><i class="search icon"></i>搜索</button>
                     </div>
                        
                     </div>
                 </div>
                  <div id="table-container">
                      <table th:fragment="bloglist" class="ui table">
                          <thead>
                          <tr>
                              <th></th>
                              <th>标题</th>
                              <th>类型</th>
                              <th>推荐</th>
                              <th>状态</th>

                              <th>更新时间</th>
                              <th>操作</th>
                          </tr>
                          </thead>

                          <tbody>
                          <tr th:each="blog,userStat:${page.content}">
                              <td th:text="${userStat.count}">1</td>
                              <td th:text="${blog.title}">刻意练习清单</td>
                              <td th:text="${blog.type.name}">认知升级</td>
                              <td th:text="${blog.recommend} ? '是':'否'">是</td>
                              <td th:text="${blog.published} ? '发布':'草稿'">草稿</td>
                              <td th:text="${blog.updateTime}">2017-10-02 09:45</td>
                              <td>
                                  <a href="#" th:href="@{/admin/blogs/{id}/input(id=${blog.id})}" class="ui mini teal basic button">编辑</a>
                                  <a href="#" th:href="@{/admin/blogs/{id}/delete(id=${blog.id})}" class="ui mini red basic button">删除</a>
                              </td>
                          </tr>
                          </tbody>
                          <tfoot>
                          <tr>
                              <th colspan="7">
                                  <div class="ui mini pagination menu" th:if="${page.totalPages>1}">
                                      <a onclick="page(this)" th:attr="data-page=${page.number}-1"  class=" item" th:unless="${page.first}">上一页</a>
                                      <a onclick="page(this)" th:attr="data-page=${page.number}+1"  class=" item" th:unless="${page.last}">下一页</a>
                                  </div>
                                  <a href="#" th:href="@{/admin/blogs/input}" class="ui mini right floated teal basic button">新增</a>
                              </th>
                          </tr>
                          </tfoot>
                          <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
                              <i class="close icon"></i>
                              <div class="header">提示:</div>
                              <p th:text="${message}">恭喜，操作成功!</p>
                          </div>


                      </table>
                  </div>


              </div>
           </div>
           
       <br> 
       <br>
       <br>
       
        <!-- 底部-->
        <footer th:replace="admin/_fragments::footer" class="ui inverted vertical segment m-padded-tb-massive m-opacity">
            <div class="ui center aligned container">
                <div class="ui inverted divided stackable grid">
                    <div class="three wide column">
                        <div class="ui  inverted link list">
                            <img src="../static/images/QQ.png" class="ui centered rounded image" style="width: 110px" />
                        </div>
                    </div>
                    <div class="three wide column">
                        <h4 class="ui inverted header">最新博客</h4>
                        <div class="ui inverted link list">
                        <a href="#" class="item">用户故事(User Story)</a>
                        <a href="#" class="item">用户故事(User Story)</a>
                        <a href="#" class="item">用户故事(User Story)</a>
                        </div>

                    </div>
                    <div class="three wide column">
                        <h4 class="ui inverted header">联系我</h4>
                        <div class="ui inverted link list">
                        <a href="#" class="item">Email：130484715@qq.com</a>
                        <a href="#" class="item">QQ: 1304684715</a>
                        </div>
                    </div>
                    <div class="seven wide column">
                        <h4 class="ui inverted header">Blog</h4>
                        <p>这是我的个人博客、会分享关于编程、写作、思考相关的任何
                        内容，希望可以给来到这儿的人有所帮助...
                        </p>
                    </div>
                  
                </div>
                 <div class="ui inverted section divider"></div>
                 <div style="color: blueviolet;margin-top: -18px" class="ui inverted m-text-thin m-text-spaced">我的客栈已营业：<span id="htmer_time" class="item m-text-thin"></span> (*๓´╰╯`๓)</div>
                         <a rel="nofollow" href="http://www.beian.miit.gov.cn" target="_blank">赣ICP备20004408号-1</a>
   
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
        <!-- <script src="./static/js/jQuery.js"></script> -->
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        <script>
            /* 当页面缩小到手机大小或者手机页面访问时会出现的按钮*/
            $('.menu-toggle').click(function(){
                $('.m-item').toggleClass('m-mobile-hide');
            });
            
            $('.ui.dropdown').dropdown({
                on:'hover'
            });

            //清空选择的分类
            $('#clear-but')
                .on('click',function(){
                    $('.ui.type.dropdown')
                        .dropdown('clear');
                });

            //上下页
            function page(obj) {
                $("[name='page']").val($(obj).data("page"))
                loaddata();
            }
            //搜索按钮
            $("#search-but").click(function(){
                $("[name='page']").val(0);
                loaddata();
            });
            /*发送ajax请求*/
            function loaddata(){
                $("#table-container").load(/*[[@{/admin/blogs/search}]]*/"/admin/blogs/search" ,{
                    title : $("[name='title']").val(),
                    typeId : $("[name='typeId']").val(),
                    recommend : $("[name='recommend']").prop('checked'),
                    page : $("[name='page']").val()
                 });
            }

            /*消息提示关闭初始化*/
            $('.message .close')
                .on('click', function(){
                    $(this)
                        .closest('.message')
                        .transition('fade');
            });

        </script>
    </body>
</html>
